.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 600px) {

    .content {
        margin: auto;
        width: 75%;
    }
}

.card {
    width: 500px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-24 {
    padding: 24px;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.2);
}

.big {
    font-size: 24px;
}